<div class="pageContainer">
<!-- ------------------- Modals ------------------- -->
        <div class="modal fade" id="widgetModal" tabindex="-1" role="dialog" aria-labelledby="widgetModalLabel">
        <div class="modal-dialog modal-lg" role="document"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" data-bind="html: key.widgetHtml()"></div>
        <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button></div></div></div></div>

        <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel">
                <div class="modal-dialog modal-lg" role="document"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="resultModalLabel">Resultat</h3></div>
                <div class="modal-body taxonBlock">
            <!-- ko if: key.taxaList()[0] && !key.taxaList()[1] -->
                <img data-bind="attr:{src: key.taxaList()[0].imageUrl('mode=1024x1024')}"/>
                <span class="fa-stack clickable" style="margin-top: -28px; display: block; margin-left: auto; margin-right: auto" data-bind="click: $root.enlargeImage">
                    <i class="fa fa-square fa-stack-2x fa-inverse" style="opacity: 0.7;"></i>
                    <i class="fa fa-search-plus fa-stack-1x"></i>
                </span>
                        
                <span data-bind="css: {'clickable': key.taxaList()[0].description}, click: function() {if(key.taxaList()[0].description) {$root.showDescription(key.taxaList()[0]);}}">
                    <h2 data-bind="text: key.taxaList()[0].vernacular"></h2>
                    <h4><i data-bind="text: key.taxaList()[0].scientific"></i> <span style="margin-left: 15px;" class="clickable glyphicon glyphicon-link" data-bind="visible: key.taxaList()[0].description, click: $root.showDescription;"></span></h4>
                    <h5 data-bind="text: key.taxaList()[0].subset"></h5>
                </span>
                
                <span data-bind="visible: key.taxaList()[0].followup">
                    <a data-bind="attr: {href : '.?csv=' + key.taxaList()[0].followup}">Artsbestem videre</a>
                </span>
            <!-- /ko -->
            <!-- ko if: key.characters_unanswered().length == 0 && key.taxaList()[0] && key.taxaList()[1] -->
                <h4>Nøkkelen kan ikke bestemme resultatet nærmere. Disse mulige utfall gjenstår:</h4>
                <ul class="list-group" data-bind="template: { name: 'taxon-template-large', foreach: key.taxaList()}"></ul>    
            <!-- /ko -->
        </div>
    <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button></div></div></div></div>

    <div class="modal fade" id="aboutKeyModal" tabindex="-1" role="dialog" aria-labelledby="aboutKeyModalLabel">
    <div class="modal-dialog modal-lg" role="document"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="aboutKeyModalLabel">Om nøkkelen</h3></div>
        <div class="modal-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <h2><span data-bind="text: key.name()"></span></h2>
                    <h4><small>Område: <span data-bind="text: key.geography()"></span></small></h4>

                    <h4><span data-bind="html: key.intro()"></span></h4>
                    <a class="clickable" data-bind="visible: key.description(), click: showAboutWidget">Mer om nøkkelen</a>

                </li>
                <li class="list-group-item" data-bind="foreach: key.commonTaxonomy()">
                    <p><span data-bind="text: taxonRank"></span>: <span data-bind="text: scientificName, style: { fontStyle: taxonRank === 'species' ? 'italic' : 'normal' }"></span></p>
                </li>
                
                <li class="list-group-item">
                    <a href="http://www.artsdatabanken.no"><img src="img/logo_nbic.png" style="padding: 10px"/> Identification widget &copy; Artsdatabanken</a><br/>
                    <a href="https://github.com/Artsdatabanken/identification_key"><img src="img/logo_GitHub.png" style="padding: 10px"/> Kode tilgjengelig på GitHub under en MIT-lisens</a>
                </li>
                
                
                <li class="list-group-item">
                    <button data-bind="visible: parent.hotData" data-bind="click: loadCSV_parent">Load CSV from editor</button>
                </li>
            </ul>
        </div>
    <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button></div></div></div></div>
<!-- ------------------- / Modals ------------------- -->

    <div class="pageContentMain" id="tabs">
        <div class="widgetTabs">
            <ul>
                <li><a href="#input_tab"><i class="fa fa-key fa-lg"></i></a>
                
                </li>
                <li class="hidden-lg hidden-md hidden-sm"><a href="#result_tab">
                    <i class="fa fa-lightbulb-o fa-lg"></i>
                    <span data-bind="text: key.remaining()"></span>
                    </a></li>
                
                <span style="color: #E86C19 !important; padding: 8px; letter-spacing: 5px;">
                    <i class="fa fa-refresh fa-lg clickable" data-bind="click: resetAll"></i>
                    <i class="fa fa-info-circle fa-lg clickable" data-bind="click: function() {$('#aboutKeyModal').modal('show');}"></i>
                </span>
            </ul>
        </div>
        
        <div id="input_tab" class="tab-content" style="height: 100%;">
            <div class="widgetTabContainer">
        
                <!-- ko if: key.listView() -->
                    <div class="tab-content-container">
                        <header>Spørsmål
                            <i class="fa fa-sort fa-rotate-90 pull-right btn clickable" data-bind="click: $root.toggleListView;"></i>
                        </header>
                        <article>
                            <div data-bind="template: {name: 'characterlist-template-checked'}"></div>    
                            <div data-bind="template: {name: 'characterlist-template-relevant'}"></div>    
                            <div data-bind="template: {name: 'characterlist-template-hidden'}"></div>
                        </article>
                        <footer></footer>
                    </div>
                <!-- /ko -->
                <!-- ko if: !key.listView() -->
                    <div style="height:100%" id="character-carousel" class="carousel" data-ride="carousel" data-interval="false" data-wrap="false">
                        <div class="carousel-inner" role="listbox" style="height: 100%;">
                            <!-- ko foreach: key.characters_all() -->
                                <div class="item" style="height: 100%;" data-bind="css: {'active': id === $root.key.focus()}, template: {name: 'character-slide-template'}"></div>
                            <!-- /ko -->
                            <div class="item" style="height: 100%;" data-bind="css: {'active': $root.key.focus() === -1}">
                                <div class="tab-content-container">
                                    <header data-bind="visible: key.remaining() === 1">Svar funnet!
                                        <i class="fa fa-list pull-right btn clickable" data-bind="click: $root.toggleListView;"></i>
                                    </header>
                                    <header data-bind="visible: key.remaining() !== 1 && key.characters_unanswered().length + key.characters_skipped().length !== 0">Ingen flere spørsmål
                                        <i class="fa fa-list pull-right btn clickable" data-bind="click: $root.toggleListView;"></i>
                                    </header>
                                    <header data-bind="visible: key.remaining() !== 1 && key.characters_unanswered().length + key.characters_skipped().length === 0">Ingen spørsmål
                                        <i class="fa fa-list pull-right btn clickable" data-bind="click: $root.toggleListView;"></i>
                                    </header>
                                    <article>
                                        <div data-bind="visible: key.remaining() === 1" class="alert alert-success" role="alert">Du har kommet frem til et svar. Bla til venstre for å se på dine svar.<br><br><button class="btn btn-warning clickable" data-bind="click: resetAll"><i class="fa fa-refresh"></i> Start på nytt</button></div>
                                        <div data-bind="visible: key.remaining() !== 1 && key.characters_unanswered().length + key.characters_skipped().length !== 0" class="alert alert-warning" role="alert">Det finnes ikke flere spørsmål som kan stilles akkurat nå. Bla tilbake til venstre for å svare på aktuelle spørmål.</div>
                                        <div data-bind="visible: key.remaining() !== 1 && key.characters_unanswered().length + key.characters_skipped().length === 0" class="alert alert-danger" role="alert">Resultatet kan ikke bestemmes videre.</div>
                                    </article>
                                    <footer>
                                        <div class="btn-group btn-group-justified" role="group" aria-label="navigation">
                                            <div class="btn" role="button">
                                                <div onclick="$('.carousel').carousel('prev');">
                                                    <a href="#character-carousel">
                                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                        <span class="sr-only">Forrige</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="middleButton" class="btn"> </div>
                                            <div class="btn" role="button"> </div>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /ko -->
            </div>
        </div>                
        
        <div id="result_tab" class="tab-content" style="height: 100%;">
            <div class="widgetTabContainer" data-bind="template: { name: 'results-template'}"></div>
        </div>
    </div>

    <div class="pageContentRight hidden-xs">
        <div class="widgetTabContainer" id="user_taxa_separate" data-bind="template: { name: 'results-template'}"></div>
    </div>

    <script type="text/html" id="results-template">
        <div class="tab-content-container">
            <header>
                <!-- ko if: key.remaining() > 1 -->
                    Resultater (<span data-bind="text: key.remaining()"></span>)
                    <!-- ko if: key.lastCommon() -->
                        <h6>Alle innen <span data-bind="text: key.lastCommon()"></span></h6>
                    <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: key.remaining() === 1 -->
                    Resultat
                <!-- /ko -->
            </header>
            <article>
                <ul class="list-group" data-bind="template: { name: 'taxon-template', foreach: key.taxaList()}"></ul>
                <div class="panel panel-default" data-bind="visible: key.droppedTaxa().length > 0">
                    <div class="panel-heading">
                        <h3 class="clickable panel-title" onclick="$('.droppedTaxaList').collapse('toggle')">Ekskludert (<span data-bind="text: key.droppedTaxa().length"></span>)
                            <i class="fa fa-caret-square-o-down pull-right"></i>
                        </h3>
                    </div>
                    <div class="collapse droppedTaxaList">
                        <ul class="list-group" data-bind="template: { name: 'taxon-template', foreach: key.droppedTaxa()}"></ul>
                    </div>
                </div>
            </article>
            <footer>
                <div data-bind="visible: key.removed()">
                    <span data-bind="text: key.removed()"></span> fjernet.
                    <a class="clickable" data-bind="click: undoRemoval">Angre siste</a>
                </div>
            </footer>
        </div>
    </script>

    <script type="text/html" id="taxon-template">
        <li class="list-group-item" data-bind="css: {'disabled': reasonsToDrop !== 0}, style: {textDecoration: reasonsToDrop !== 0 ? 'line-through' : 'none'}">
            <div class="media">
                <div class="media-left">
                        <img style="max-width: 100px;" data-bind="attr:{src: imageUrl('mode=160x160')}"/>
                    
                        <span class="fa-stack clickable" style="display: block; margin-top: -30px;" data-bind="click: $root.enlargeImage">
                            <i class="fa fa-square fa-stack-2x fa-inverse" style="opacity: 0.7;"></i>
                            <i class="fa fa-search-plus fa-stack-1x"></i>
                        </span>
                </div>
                <div class="media-body">
                    <span class="badge pull-right clickable" data-bind="visible: $root.key.remaining() > 1 && reasonsToDrop === 0, click: $root.removeSelected"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="badge pull-right clickable" data-bind="visible: removed, click: $root.undoRemoval"><span class="fa fa-history"></span></span>
                    <span data-bind="css: {'clickable': description}, click: function() {if(description) {$root.showDescription(this);}}">
                        <h4 data-bind="text: vernacular"></h4>
                        <h5><i data-bind="text: scientific"></i><br/><span class="clickable glyphicon glyphicon-link" data-bind="visible: description"></span></h5>
                        <h6 data-bind="text: subset"></h6>
                    </span>                         
                </div>
            </div>
        </li>
    </script>

    <script type="text/html" id="taxon-template-large">
        <li class="list-group-item" data-bind="css: {'disabled': reasonsToDrop !== 0}, style: {textDecoration: reasonsToDrop !== 0 ? 'line-through' : 'none'}">
            <div class="media">
                <div class="media-left">
                    <img style="width: 160px;" data-bind="attr:{src: imageUrl('mode=160x160')}"/>
                    <span class="fa-stack clickable" style="display: block; margin-top: -30px;" data-bind="click: $root.enlargeImage">
                        <i class="fa fa-square fa-stack-2x fa-inverse" style="opacity: 0.7;"></i>
                        <i class="fa fa-search-plus fa-stack-1x"></i>
                    </span>
                </div>
                <div class="media-body">
                    <span class="badge pull-right clickable" data-bind="visible: $root.key.remaining() > 1 && reasonsToDrop === 0, click: $root.removeSelected"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="badge pull-right clickable" data-bind="visible: removed, click: $root.undoRemoval"><span class="fa fa-history"></span></span>
                    <span data-bind="css: {'clickable': description}, click: function() {if(description) {$root.showDescription(this);}}">
                        <h3 data-bind="text: vernacular"></h2>
                        <h4><i data-bind="text: scientific"></i><br/><span class="clickable glyphicon glyphicon-link" data-bind="visible: description"></span></h4>
                        <h5 data-bind="text: subset"></h5>
                    </span>                         
                </div>
            </div>
        </li>
    </script>

    <script type="text/html" id="character-slide-template">
        <div class="tab-content-container">
            <header>
                Spørsmål
                <i class="fa fa-list pull-right btn clickable" data-bind="click: $root.toggleListView;"></i>
            </header>
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span data-bind="text: string"></span>
                        <i data-bind="visible: description, click: $root.showStateHelp" class="fa fa-question-circle pull-right clickable" ></i></h4>
                    </div>
                </div>
                
                <div data-bind="visible: !checked() && !skipped() && relevance() < 1 && relevance() > 0" class="alert alert-warning" role="alert" >Dette er ikke kjent for alle mulige resultater, og spørsmålet gir kanskje ikke mening for det du prøver å artsbestemme!</div>
                <div data-bind="visible: !checked() && skipped()" class="alert alert-warning" role="alert">Du har skjult dette spørsmålet, men du trenger det muligens for å artsbestemme nærmere.</div>
                
                
                <div class="container-fluid" style="margin-top: 10px;">
                    <div class="row" data-bind="template: {name: 'state-template', foreach: states}"></div>
                </div>
            </article>
            <footer>
                <div class="btn-group btn-group-justified" role="group" aria-label="navigation">
                    <div class="btn" role="button">
                        <div data-bind="visible: $index() > 0" onclick="$('.carousel').carousel('prev');">
                            <a href="#character-carousel">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Forrige</span>
                            </a>
                        </div>
                    </div>
                    <div id="middleButton" class="btn">
                        <div data-bind="visible: !skipped() && !checked(), click: $root.skipCharacter">
                            <a>Vet ikke</a>
                        </div>  
                    </div>
                    <div class="btn" role="button">
                        <div onclick="$('.carousel').carousel('next');">
                            <a href="#character-carousel">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Neste</span>
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </script>

    <script type="text/html" id="characterlist-template-checked">
        <div class="bs-callout bs-callout-success" data-bind="visible: key.characters_checked().length > 0">
            <h3 class="clickable" onclick="$('#answeredList').collapse('toggle')">Besvart
                <i class="fa fa-caret-square-o-down pull-right"></i>            
            </h3><br>
            <div class="collapse" id="answeredList" data-bind="foreach: key.characters_checked()">
                <div data-bind="template: {name: 'character-template'}"></div>
            </div>
        </div>
    </script>

    <script type="text/html" id="characterlist-template-relevant">
        <div class="bs-callout bs-callout-primary" data-bind="visible: key.characters_unanswered().length > 0">
            <h3 class="clickable" onclick="$('#unansweredList').collapse('toggle')">Ubesvart
                <i class="fa fa-caret-square-o-down pull-right"></i>
            </h3><br>
            <div class="collapse in" id="unansweredList" data-bind="foreach: key.characters_unanswered()">
                <div data-bind="template: {name: 'character-template'}"></div>
            </div>
        </div>
    </script>

    <script type="text/html" id="characterlist-template-hidden">
        <div class="bs-callout bs-callout-danger" data-bind="visible: key.characters_hidden().length > 0">
            <h3 class="clickable" onclick="$('#hiddenList').collapse('toggle')">Skjult
                <i class="fa fa-caret-square-o-down pull-right"></i>
            </h3><br>
            <div class="collapse" id="hiddenList" data-bind="foreach: key.characters_hidden()">
                <div data-bind="template: {name: 'character-template'}"></div>
            </div>
        </div>
    </script>

    <script type="text/html" id="character-template">
        <!-- ko if: id == $root.key.focus() -->
            <div id="focus"></div>
        <!-- /ko -->
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><span data-bind="text: string"></span>
                <i data-bind="visible: description, click: $root.showStateHelp" class="fa fa-question-circle pull-right clickable"></i></h4>
            </div>
        </div>
        
        <div data-bind="visible: !checked() && !skipped() && relevance() < 1 && relevance() > 0" class="alert alert-warning" role="alert" >Dette er ikke kjent for alle mulige resultater, og spørsmålet gir kanskje ikke mening for det du prøver å artsbestemme!</div>
        <div data-bind="visible: !checked() && skipped()" class="alert alert-warning" role="alert">Du har skjult dette spørsmålet, men du trenger det muligens for å artsbestemme nærmere.</div>
        <div class="container-fluid" style="margin-top: 10px; padding: 0 0 50px 0;">
            <div class="row" data-bind="template: {name: 'state-template', foreach: states}"></div>
        </div>
    </script>

    <script type="text/html" id="state-template">
        <div class="col-md-6">
            <div class="btn btn-default btn-state col-xs-12" data-bind="click: $root.inputTrue, css: {'list-group-item-success': status() == 1, 'list-group-item-danger': status() == 0}">
                <div class="col-xs-5" data-bind="visible: imageUrl()">
                    <img class="img-responsive" data-bind="attr:{src: imageUrl('mode=160x160')}">
                    
                    <span class="fa-stack clickable" style="position: absolute; margin-top: -30px;" data-bind="click: $root.enlargeImage, clickBubble: false,">
                        <i class="fa fa-square fa-stack-2x fa-inverse" style="opacity: 0.7;"></i>
                        <i class="fa fa-search-plus fa-stack-1x"></i>
                    </span>
                </div>
                <div style="height: 100%" data-bind="css: {'col-xs-12': !imageUrl(), 'col-xs-7': imageUrl()">
                    <div class="media-body" data-bind="text: string">
                    </div>
                    <div class="media-right">
                        <span class="btn btn-danger" data-bind="click: $root.inputFalse, clickBubble: false, visible: (checked() == null && status() == null && $parent.showFalse())"><i class="fa fa-ban" aria-hidden="true"></i></span>
                        <span class="btn btn-warning" data-bind="visible: checked() != null, click: $root.inputReset, clickBubble: false"><i class="fa fa-history" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
