<div class="pageContainer">
<!-- ------------------- Modals ------------------- -->
    <div style="padding-bottom: 60px;" class="modal fade" id="widgetModal" tabindex="-1" role="dialog" aria-labelledby="widgetModalLabel">
        <div class="modal-dialog modal-lg" style="height: 100% !important; margin-top: 30px !important;" role="document">
             <div style="width: inherit; position: fixed; margin-top: -30px; z-index: 2;">
                
                
                
                <a class="fa-stack fa-lg clickable pull-right" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                    <i class="fa fa-circle fa-stack-2x fg"></i>
                    <i class="fa fa-times fa-stack-1x bg"></i>
                </a>
                
                <a class="fa-stack fa-lg clickable pull-right" aria-hidden="true" target="_blank" data-bind="visible: key.widgetLink(),attr: {href: key.widgetLink()}">
                    <i class="fa fa-circle fa-stack-2x fg"></i>
                    <i class="fa fa-external-link fa-stack-1x bg"></i>
                </a>
            </div>
            <div style="height: 100% !important; overflow-y: auto; width: inherit;" class="modal-content">
                <div class="modal-body" data-bind="html: key.widgetHtml()">
                </div>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 60px;" class="modal fade" id="taxonModal" tabindex="-1" role="dialog" aria-labelledby="taxonModalLabel">
            <div class="modal-dialog modal-lg" style="height: 100% !important; overflow-y: initial !important; margin-top: 30px !important;" role="document">
            <div style="height: 100% !important; overflow-y: auto;" class="modal-content">
                <div style="width: 100%; position: fixed; margin-top: -30px;">
                    <span class="fa-stack fa-lg clickable pull-right" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                        <i class="fa fa-circle fa-stack-2x fg"></i>
                        <i class="fa fa-times fa-stack-1x bg"></i>
                    </span>
                </div>
                <div class="modal-header" data-bind="visible: key.taxaList()[0] && !key.taxaList()[1];">
                    <h3 class="modal-title" id="resultModalLabel" data-bind="text: l().Result"></h3>
                </div>
                <div class="modal-body taxonBlock">
        <!-- ko if: key.showTaxon() -->
            <!-- ko if: key.showTaxon().media -->
                <img data-bind="attr:{src: key.showTaxon().imageUrl('mode=1024x1024')}"/>
                <span class="fa-stack clickable" style="margin-top: -28px; display: block; margin-left: auto; margin-right: auto" data-bind="click: function() {$root.enlargeImage(key.showTaxon())}">
                    <i class="fa fa-square fa-stack-2x fa-inverse" style="opacity: 0.7;"></i>
                    <i class="fa fa-search-plus fa-stack-1x"></i>
                </span>
            <!-- /ko -->
                                 
            <h2 data-bind="text: key.showTaxon().vernacular"></h2>
            <h4><i data-bind="text: key.showTaxon().scientific"></i></h4>
            <h4 style="margin-bottom: 30px;">
                <span class="label label-default" style="background-color: white; color: #333; border: 1px solid #333" data-bind="visible: key.showTaxon().subset, text: key.showTaxon().subset"></span>
                <span class="label label-default" style="background-color: white; color: #333; border: 1px solid #333" data-bind="visible: key.showTaxon().morph, text: key.showTaxon().morph"></span>
            </h4>
            
            <a class="btn btn-default clickable colorize_negative" data-bind="visible: key.showTaxon().description, click: $root.showDescription.bind($data,key.showTaxon());">
               <div>
                   <i class="fa fa-file-text fa-lg"></i>&nbsp; 
                   <span data-bind="text: l().ReadDescription"/>
                </div>
            </a>
           
            <a class="btn btn-default clickable colorize_negative" data-bind="visible: key.showTaxon().id, click: $root.showTaxonPage.bind($data,key.showTaxon());">
                
               <div>
                   <i class="fa fa-info-circle fa-lg"></i>&nbsp; 
                   <span data-bind="text: l().ReadTaxonPage"/>
                </div>
            </a>

            <br/><br/>

            <div class="well well-sm" data-bind="visible: key.showTaxon().followup">
                <a data-bind="attr: {href : '.?csv=' + key.showTaxon().followup}" style="color: #333; text-decoration: none;">

                    <div class="media-left">
                         <i class="fa fa-key fa-3x"></i>
                    </div>
                    <div class="media-body">
                        <span data-bind="text: key.showTaxon().vernacular + ' ' + l().hasOwnKey"/>
                    </div>
                </a>
            </div>
            
            
        <!-- /ko -->
        <!-- ko if: !key.showTaxon() -->
             <h4 data-bind="text: key.showTaxon"></h4>
        
            <h4 data-bind="text: l().KeyCannotDetermine"></h4>
            <ul class="list-group" data-bind="template: { name: 'taxon-template-large', foreach: key.taxaList()}"></ul>    
        <!-- /ko -->
    </div>
    </div></div></div>

    <div style="padding-bottom: 60px;" class="modal fade" id="aboutKeyModal" tabindex="-1" role="dialog" aria-labelledby="aboutKeyModalLabel">
        <div class="modal-dialog modal-lg" style="height: 100% !important; overflow-y: initial !important; margin-top: 30px !important;" role="document">
            <div style="height: 100% !important; overflow-y: auto;" class="modal-content">
                <div style="width: 100%; position: fixed; margin-top: -30px;">
                    <span class="fa-stack fa-lg clickable pull-right" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                        <i class="fa fa-circle fa-stack-2x fg"></i>
                        <i class="fa fa-times fa-stack-1x bg"></i>
                    </span>
                </div>
                <div class="modal-header">
                    <h3 class="modal-title" id="aboutKeyModalLabel" data-bind="text: l().AboutKey"></h3>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h2><span data-bind="text: key.name()"></span></h2>
                            <h4><small data-bind="text: l().Range + ': ' + key.geography()"></small></h4>
                            <h4><span data-bind="html: key.intro()"></span></h4>
                            <a class="clickable" data-bind="visible: key.description(), click: showAboutWidget, text: l().MoreAboutKey"></a>
                        </li>
                        <li class="list-group-item" data-bind="foreach: key.commonTaxonomy()">
                            <p><span data-bind="text: taxonRank"></span>: <span data-bind="text: scientificName, style: { fontStyle: taxonRank === 'species' ? 'italic' : 'normal' }"></span></p>
                        </li>
                        <li class="list-group-item">
                            <a href="http://www.artsdatabanken.no" style="color: #333;"><img src="img/logo_nbic.png" style="padding: 10px"/> <span data-bind="text: l().AnNBICService"></span></a><br/>
                            <a href="https://github.com/Artsdatabanken/identification_key" style="color: #333;"><i  style="padding: 10px" class="fa fa-github fa-3x"></i> <span data-bind="text: l().SourceCodeOpen"></span></a>
                        </li>
                        <li class="list-group-item">
                            <button data-bind="click: loadCSV_parent">Load CSV from editor</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!-- ------------------- / Modals ------------------- -->

    <div class="pageContentMain" id="tabs">
        <div class="widgetTabs">
            <ul>
                <li class="hidden-xs colorize_neutral"><i class="colorize_hide fa fa-key fa-lg" style="padding: 7px;"></i></li>
                <li class="hidden-lg hidden-md hidden-sm"><a href="#input_tab"><i class="fa fa-key fa-lg"></i></a></li>
                <li class="hidden-lg hidden-md hidden-sm"><a href="#result_tab">
                    <i class="fa fa-lightbulb-o fa-lg"></i>
                    <span data-bind="text: key.remainingSubsets()"></span>
                    </a></li>

                <span class="pull-right colorize" style="padding: 8px; letter-spacing: 5px;">
                    <i data-bind="css: (key.listView() ? 'fa-sort fa-rotate-90' : 'fa-list'), click: $root.toggleListView;" class="fa fa-lg clickable colorize"></i>
                    <i class="fa fa-refresh fa-lg clickable colorize" data-bind="click: resetAll"></i>
                    <i class="fa fa-info-circle fa-lg clickable colorize" data-bind="click: function() {$('#aboutKeyModal').modal('show');}"></i>
                </span>
            </ul>
        </div>

        <div id="input_tab" class="tab-content" style="height: 100%;">
            <div class="widgetTabContainer">

                <!-- ko if: key.listView() -->
                    <div class="tab-content-container">
                        <header class="colorize_hide" data-bind="text: l().Question">
                        </header>
                        <article>
                            <div data-bind="template: {name: 'characterlist-template-checked'}"></div>
                            <div data-bind="template: {name: 'characterlist-template-relevant'}"></div>
                        </article>
                    </div>
                <!-- /ko -->
                <!-- ko if: !key.listView() -->
                    <div style="height:100%" id="character-carousel" class="carousel" data-ride="carousel" data-interval="false" data-wrap="false">
                        <div class="carousel-inner" role="listbox" style="height: 100%;">
                            <!-- ko foreach: key.characters_answered() -->
                                <div class="item" style="height: 100%;" data-bind="template: {name: 'character-slide-template'}"></div>
                            <!-- /ko -->
                            <!-- ko foreach: key.characters_unanswered() -->
                                <div class="item" style="height: 100%;" data-bind="css: {'active': id === $root.key.focus()}, template: {name: 'character-slide-template'}"></div>
                            <!-- /ko -->
                            
                            <!-- ko if: key.characters_unanswered().length == 0 -->
                                <div class="item" style="height: 100%;" data-bind="css: {'active': $root.key.focus() === -1}">
                                    <div class="tab-content-container">
                                        <header class="colorize_hide" data-bind="text: l().Question">
                                        </header>
                                        <article>
                                            <div data-bind="visible: key.remainingSubsets() === 1" class="alert alert-success" role="alert"><span data-bind="text: l().AnswerFound"></span><br><br><button class="btn btn-warning clickable" data-bind="click: resetAll"><i class="fa fa-refresh"></i> <span data-bind="text: l().Restart"></span></button></div>
                                            <div data-bind="visible: key.remainingSubsets() !== 1 && key.characters_unanswered().length === 0, text: l().NoResultPossible" class="alert alert-danger" role="alert"></div>
                                        </article>
                                        <footer class="colorize_negative footer-button">
                                            <div class="btn-group btn-group-justified" role="group" aria-label="navigation">
                                                <div class="btn btn-default" role="button">
                                                    <div data-bind="visible: key.firstCharacter() != -1" onclick="$('.carousel').carousel('prev');">
                                                        <a href="#character-carousel" class="colorize_negative">
                                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                            <span class="sr-only" data-bind="text: l().Previous"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="btn btn-default"> </div>
                                                <div class="btn btn-default" role="button"> </div>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            <!-- /ko -->
                        </div>
                    </div>
                <!-- /ko -->
            </div>
        </div>

        <div id="result_tab" class="tab-content" style="height: 100%;">
            <div class="widgetTabContainer" data-bind="template: { name: 'results-template'}"></div>
        </div>
    </div>

    <div class="pageContentRight hidden-xs">
        <div class="widgetTabContainer" id="user_taxa_separate" data-bind="template: { name: 'results-template'}"></div>
    </div>

    <script type="text/html" id="results-template">
        <div class="tab-content-container">
            <header class="colorize_hide">
                <!-- ko if: key.remainingSubsets() > 1 -->
                    <h4 data-bind="text: key.remainingSubsets() + ' ' + l().results"></h4>
                    <!-- ko if: key.lastCommon() -->
                        <h6 data-bind="text: l().AllWithin + ' ' + key.lastCommon()"></h6>
                    <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: key.remainingSubsets() === 1 -->
                    <h4 data-bind="text: l().Result"></h4>
                <!-- /ko -->
            </header>
            <article>
                <div class="minimal_only panel panel-default">
                    <div class="panel-heading">
                        <!-- ko if: key.remainingSubsets() > 1 -->
                          <h4 data-bind="text: key.remainingSubsets() + ' ' + l().results"></h4>
                          <!-- ko if: key.lastCommon() -->
                            <h6 data-bind="text: l().AllWithin + ' ' + key.lastCommon()"></h6>
                          <!-- /ko -->
                      <!-- /ko -->
                      <!-- ko if: key.remainingSubsets() === 1 -->
                          <h4 data-bind="text: l().Result"></h4>
                      <!-- /ko -->
                    </div>
                </div>

                <ul class="list-group" data-bind="template: { name: 'taxon-template', foreach: key.taxaList()}"></ul>
                <div class="panel panel-default" data-bind="visible: key.droppedTaxa().length > 0">
                    <div class="panel-heading">
                        <h3 class="clickable panel-title" onclick="$('.droppedTaxaList').collapse('toggle')"><span data-bind="text: l().Excluded + ' (' + key.droppedTaxa().length + ')'"></span>
                            <i class="fa fa-caret-square-o-down pull-right"></i>
                        </h3>
                    </div>
                    <div class="collapse droppedTaxaList">
                        <ul class="list-group" data-bind="template: { name: 'taxon-template', foreach: key.droppedTaxa()}"></ul>
                    </div>
                </div>
            </article>
            <footer class="colorize_hide">
                <div data-bind="visible: key.removed()">
                    <span data-bind="text: key.removed() + ' ' + l().removed"></span>.
                    <a class="clickable colorize_hide" data-bind="click: undoRemoval, text: l().UndoLast"></a>
                </div>
            </footer>
            
        </div>
    </script>

    <script type="text/html" id="taxon-template">
        <li class="list-group-item" data-bind="css: {'disabled': reasonsToDrop !== 0}, style: {textDecoration: reasonsToDrop !== 0 ? 'line-through' : 'none'}">
            <div class="media">
                <div class="media-left">
                        <img style="max-width: 100px;" data-bind="attr:{src: imageUrl('mode=160x160')}"/>

                        <span class="fa-stack clickable" style="display: block; margin-top: -30px;" data-bind="click: $root.enlargeImage">
                            <i class="fa fa-square fa-stack-2x fa-inverse" style="opacity: 0.7;"></i>
                            <i class="fa fa-search-plus fa-stack-1x"></i>
                        </span>
                </div>
                <div class="media-body">
                    <span class="badge pull-right clickable" data-bind="visible: $root.key.remainingSubsets() > 1 && reasonsToDrop === 0, click: $root.removeSelected"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="badge pull-right clickable" data-bind="visible: removed, click: $root.undoRemoval"><span class="fa fa-history"></span></span>
                    <span class="clickable" data-bind="click: $root.showTaxonModal;">
                        <h4 data-bind="text: vernacular"></h4>
                        <h5><i data-bind="text: scientific"></i><br/><i class="fa fa-external-link pull-right"></i></h5>
                        <h6 data-bind="text: subset"></h6>
                        <h6 class="small" data-bind="text: morph"></h6>
                    </span>
                </div>
            </div>
        </li>
    </script>

    <script type="text/html" id="taxon-template-large">
        <li class="list-group-item" data-bind="css: {'disabled': reasonsToDrop !== 0}, style: {textDecoration: reasonsToDrop !== 0 ? 'line-through' : 'none'}">
            <div class="media">
                <div class="media-left">
                    <img style="width: 160px;" data-bind="attr:{src: imageUrl('mode=160x160')}"/>
                    <span class="fa-stack clickable" style="display: block; margin-top: -30px;" data-bind="click: $root.enlargeImage">
                        <i class="fa fa-square fa-stack-2x fa-inverse" style="opacity: 0.7;"></i>
                        <i class="fa fa-search-plus fa-stack-1x"></i>
                    </span>
                </div>
                <div class="media-body">
                    <span class="badge pull-right clickable" data-bind="visible: $root.key.remainingSubsets() > 1 && reasonsToDrop === 0, click: $root.removeSelected"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="badge pull-right clickable" data-bind="visible: removed, click: $root.undoRemoval"><span class="fa fa-history"></span></span>
                    <span class="clickable" data-bind="click: $root.showTaxonModal;">
                        <h3 data-bind="text: vernacular"></h2>
                        <h4><i data-bind="text: scientific"></i><br/><i class="fa fa-external-link"></i></h4>
                        <h5 data-bind="text: subset"></h5>
                        <h5 data-bind="text: morph"></h5>
                    </span>
                </div>
            </div>
        </li>
    </script>

    <script type="text/html" id="character-slide-template">
        <div class="tab-content-container">
            <header class="colorize_hide" data-bind="text: $root.l().Question">
            </header>
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading" >
                        <h4><span data-bind="text: (twins.length == 0 ? string : $root.l().CombinedQuestion)"></span>
                        <i data-bind="visible: description && twins.length == 0, click: $root.showStateHelp" style="padding-left: 10px;" class="fa fa-question-circle clickable" ></i>
                        <span data-bind="visible: !$root.key.listView() && relevance() > 0, text: Number($index())+1 + ' ' + $root.l().of + ' ' + $root.key.characters_unanswered().length" class="pull-right small"></span>
                        </h4>
                    </div>
                </div>

                <div data-bind="visible: !checked() && !skipped() && relevance() < 1 && relevance() > 0, text: $root.l().NotKnownForAll" class="alert alert-warning" role="alert"></div>
                <div class="container-fluid" style="margin-top: 10px;">
                    <div class="row" data-bind="template: {name: (twins.length == 0 ? 'state-template' : 'state-twins-template'), foreach: states}"></div>
                </div>

                
            </article>
                <footer class="colorize_negative footer-button colorize_negative">
                    <div class="btn-group btn-group-justified" role="group" aria-label="navigation">
                    <div class="btn btn-default" role="button">
                        <div data-bind="visible: $root.key.firstCharacter() != id" onclick="$('.carousel').carousel('prev');">
                            <a href="#character-carousel">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only" data-bind="text: $root.l().Previous"></span>
                            </a>
                        </div>
                    </div>
                    <div class="btn btn-default">
                        <div class="small" data-bind="visible: !skipped() && relevance() > 0 && $root.key.characters_unanswered().length > 1, click: $root.skipCharacter">
                            <a  data-bind="text: $root.l().SkipThis"></a>
                        </div>
                    </div>
                    <div class="btn btn-default footer-button" role="button">
                        <div data-bind="visible: $root.key.lastCharacter() != id" onclick="$('.carousel').carousel('next');">
                            <a href="#character-carousel">
                                <span class="sr-only" data-bind="text: $root.l().Next"></span>
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </script>

    <script type="text/html" id="characterlist-template-checked">
        <div class="bs-callout bs-callout-success" data-bind="visible: key.characters_answered().length > 0">
            <h3 class="clickable" onclick="$('#answeredList').collapse('toggle')"><span data-bind="text: l().Answered"></span>
                <i class="fa fa-caret-square-o-down pull-right"></i>
            </h3><br>
            <div class="collapse" id="answeredList" data-bind="foreach: key.characters_answered()">
                <div data-bind="template: {name: 'character-template'}"></div>
            </div>
        </div>
    </script>

    <script type="text/html" id="characterlist-template-relevant">
        <div class="bs-callout bs-callout-primary" data-bind="visible: key.characters_unanswered().length > 0">
            <h3 class="clickable" onclick="$('#unansweredList').collapse('toggle')"><span data-bind="text: l().Unanswered"></span>
                <i class="fa fa-caret-square-o-down pull-right"></i>
            </h3><br>
            <div class="collapse in" id="unansweredList" data-bind="foreach: key.characters_unanswered()">
                <div data-bind="template: {name: 'character-template'}"></div>
            </div>
        </div>
    </script>

    <script type="text/html" id="character-template">
        <!-- ko if: id == $root.key.focus() -->
            <div id="focus"></div>
        <!-- /ko -->
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clickable" onclick="$(this).parent().parent().find('.collapse').collapse('toggle');">
                    <h4><span data-bind="text: string"></span>
                    <i data-bind="visible: description && twins.length == 0, click: $root.showStateHelp" style="padding-left: 10px" class="fa fa-question-circle clickable"></i>
                    <i class="fa fa-caret-square-o-down pull-right"></i>
                    </h4>
                </div>
            </div>
            
            <div class="collapse in">
                <div data-bind="visible: !checked() && !skipped() && relevance() < 1 && relevance() > 0, text: $root.l().NotKnownForAll" class="alert alert-warning" role="alert" ></div>
                <div class="container-fluid" style="margin-top: 10px; padding: 0 0 50px 0;">
                    <div class="row" data-bind="template: {name: (twins.length == 0 ? 'state-template' : 'state-twins-template'), foreach: states}"></div>
                </div>
            </div>
        </div>

    </script>

    <script type="text/html" id="state-template">
        <div class="col-md-6">
            <div class="btn btn-default btn-state col-xs-12" data-bind="click: $root.inputTrue, css: {'list-group-item-success': status() == 1, 'list-group-item-danger': status() == -1}">
                <div class="col-xs-5" data-bind="visible: imageUrl()">
                    <img class="img-responsive" data-bind="attr:{src: imageUrl('mode=160x160')}">

                    <span class="fa-stack clickable" style="position: absolute; margin-top: -30px;" data-bind="click: $root.enlargeImage, clickBubble: false">
                        <i class="fa fa-square fa-stack-2x fa-inverse" style="opacity: 0.7;"></i>
                        <i class="fa fa-search-plus fa-stack-1x"></i>
                    </span>
                </div>
                <div style="height: 100%" data-bind="css: {'col-xs-12': !imageUrl(), 'col-xs-7': imageUrl()">
                    <div class="media-body" data-bind="text: string"></div>
                    <div class="media-right">
                        <span class="badge pull-right clickable" style="background-color: #777;" data-bind="click: $root.inputFalse, clickBubble: false, visible: (checked() == null && status() == null && $parent.showFalse)"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="badge pull-right clickable" style="background-color: #777;"  data-bind="visible: checked() != null, click: $root.inputReset, clickBubble: false"><span class="fa fa-history"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </script>
    
    <script type="text/html" id="state-twins-template">
        <div class="col-md-6">
            <div class="btn btn-default btn-state col-xs-12" data-bind="click: $root.inputTrue, css: {'list-group-item-success': status() == 1, 'list-group-item-danger': status() == -1}">
                <div style="padding: 20px; display: inline-block;">
                    <div class="col-xs-4" data-bind="visible: imageUrl()">
                        <img class="img-responsive" data-bind="attr:{src: imageUrl('mode=160x160')}">

                        <span class="fa-stack clickable" style="position: absolute; margin-top: -30px;" data-bind="click: $root.enlargeImage, clickBubble: false">
                            <i class="fa fa-square fa-stack-2x fa-inverse" style="opacity: 0.7;"></i>
                            <i class="fa fa-search-plus fa-stack-1x"></i>
                        </span>
                    </div>
                    <div style="height: 100%" data-bind="css: {'col-xs-12': !imageUrl(), 'col-xs-8': imageUrl()">
                        <div class="media-body">
                            <h5 style="font-size: 1.15em;"><span data-bind="text: $parent.string"/><i data-bind="visible: $parent.description, clickBubble: false, click: $root.showStateHelp.bind($data,$parent)" class="fa fa-question-circle pull-right clickable"></i></h5>
                            <p data-bind="text: string"/>
                        </div>
                        <div class="media-right" data-bind="visible: checked() != null || (checked() == null && status() == null && $parent.showFalse)">
                            <span class="badge pull-right clickable" data-bind="click: $root.inputFalse, clickBubble: false, visible: (checked() == null && status() == null && $parent.showFalse)"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="badge pull-right clickable" data-bind="visible: checked() != null, click: $root.inputReset, clickBubble: false"><span class="fa fa-history"></span></span>
                        </div>
                    </div>
                </div>

                <!-- ko foreach: $parent.twins -->
                    <div data-bind="with: $data.states()[$parentContext.$index()]" style="padding: 20px; display:inline-block;">
                        <div class="col-xs-4" data-bind="visible: $data.imageUrl()">
                            <img class="img-responsive" data-bind="attr:{src: imageUrl('mode=160x160')}">

                            <span class="fa-stack clickable" style="position: absolute; margin-top: -30px;" data-bind="click: $root.enlargeImage, clickBubble: false">
                                <i class="fa fa-square fa-stack-2x fa-inverse" style="opacity: 0.7;"></i>
                                <i class="fa fa-search-plus fa-stack-1x"></i>
                            </span>
                        </div>
                        <div style="height: 100%" data-bind="css: {'col-xs-12': !imageUrl(), 'col-xs-8': imageUrl()">
                            <div class="media-body">
                                <h5 style="font-size: 1.15em;"><span data-bind="text: $parent.string"/><i data-bind="visible: $parent.description, clickBubble: false, click: $root.showStateHelp.bind($data,$parent)" class="fa fa-question-circle pull-right clickable"></i></h5>
                                <p data-bind="text: string"/>
                            </div>
                        </div>
                    </div>
                <!-- /ko -->
            </div>
        </div>
    </script>
</div>
